body {
  font-family: "Arial","Helvetica",sans-serif;
  font-size: 13px;
  background-color: black;
  color: #DDD;
  min-width: 250px;
}
h1 {
  font-size: 167%;
  font-weight: normal;
  border-bottom: 1px solid #444;
  color: #11ECF7;
  padding: 0;
}
h2 {
  margin-top: 0;
}
a {
  color: #11ECF7;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  border-bottom: 1px solid #333;
  padding: 0.3em;
}

#map-canvas {
  border: 1px solid #4A9299;
  display: inline-block;
  vertical-align: top;
}

.watched-portals {
  display: inline-block;
  min-width: 400px;
  width: 50%;
}

.title {
  color: #11ECF7;
}

.portal {
  position: relative;
}

.unwatch {
  position: absolute;
  right: 3px;
}

.suggested-portals {
  background: black;
  border: 1px solid #11ECF7;
  box-shadow: 0 0 14px #11ECF7;
  position: absolute;
  width: 600px;
  z-index: 100;
}

.suggested-portals ul {
  margin: 0;
}

.suggested-portals li {
  cursor: pointer;
}

.suggested-portals:not(:hover) .selected,
.suggested-portals li:hover {
  background-color: #004F4A;
}

.saving {
  position: absolute;
  right: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="email"],
input[type="number"],
input[type="text"] {
  background-color: rgb(11, 12, 13);
  color: #ddd;
  padding: 1px 5px;
}

input[type="email"],
input[type="number"],
input[type="text"],
input[type="submit"] {
  border: 1px solid #59fbea;
  font-family: coda_regular, arial, helvetica, sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input[type="submit"] {
  background-color: rgb(0, 79, 74);
  color: #59fbea;
  padding: 1px 15px;
}
input:not([disabled])[type="submit"]:hover {
  box-shadow: rgba(89, 251, 234, 1) 0 1px 5px 0;
}
input:not([disabled])[type="submit"]:active {
  box-shadow: rgba(0, 0, 0, 1) 0 1px 4px 0 inset;
}
input[disabled][type="submit"] {
  background-color: rgb(0, 43, 40);
  border: 1px solid rgb(43, 122, 114);
  color: rgb(43, 122, 114);
}
