<!doctype html>
<html ng-app>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="/static/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/ingress.css">
    <link rel="chrome-webstore-item"
        href="https://chrome.google.com/webstore/detail/bdlnageoicfcjdmkcljkompgphkeeghp">
  </head>
  <body>
    <h1>Ingress Notify</h1>
    <h2>Instructions</h2>
    <ol>
      <li>
        Install the <a onclick="chrome.webstore.install()">Chrome Extension</a>
      </li>
      <li>
        Setup your Gmail to forward ingress notifications to
        <strong>incoming@ingress-notify.appspotmail.com</strong>
      </li>
      <li>
        Subscribe to alert messages for portals by either clicking the "Watch"
        link on the portal information popup in the
        <a href="http://www.ingress.com/intel">Ingress Intel Map</a>, or check
        to the box next to the portal below.
      </li>
    </ol>
    <p>
      Send questions or suggestions to
      <a href="https://groups.google.com/forum/?fromgroups#!forum/ingress-notify-users">ingress-notify-users@googlegroups.com</a>.
    </p>
    <div ng-controller="PortalsCtrl">
      <h2>Portals</h2>
      <span ng-hide="loaded">Loading...</span>
      <ul>
        <li ng-repeat="portal in portals | orderBy:'title'">
          <input type="checkbox" ng-model="portal.watched" ng-change="portal.handleWatchChange();"></input>
          <span class="title"><a href="{{ portal.getIntelUrl() }}">{{ portal.title }}</a></span>
          <span class="address">{{ portal.address }}</span>
        </li>
      </ul>
      <form name="portalForm" ng-submit="addPortal()">
        <input type="text" ng-model="portalTitle" placeholder="Title" required>
        <input type="number" ng-model="portalLatE6" placeholder="latE6" required>
        <input type="number" ng-model="portalLngE6" placeholder="lngE6" required>
        <input type="text" ng-model="portalAddress" placeholder="address">
        <input type="submit" value="Add portal" ng-disabled="!portalForm.$valid">
      </form>
    </div>
  </body>
</html>

