<!doctype html>
<html ng-app>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="/static/app.js"></script>
  </head>
  <body>
    <h1>ingress-notify</h1>
    <p>
      Setup your GMail to forward ingress notifications to
      <strong>incoming@ingress-notify.appspotmail.com</strong>
    </p>
    <h2>Portals</h2>
    <div ng-controller="PortalsCtrl">
      <span ng-hide="loaded">Loading...</span>
      <ul>
        <li ng-repeat="portal in portals | orderBy:'name'">
          <input type="checkbox" ng-model="portal.watched" ng-change="portal.handleWatchChange();"></input>
          {{ portal.name }}
        </li>
      </ul>
      <form name="portalForm" ng-submit="addPortal()">
        <input type="text" ng-model="portalName" placeholder="Name" required>
        <input type="number" ng-model="portalLatE6" placeholder="latE6" required>
        <input type="number" ng-model="portalLngE6" placeholder="lngE6" required>
        <input type="submit" value="Add portal" ng-disabled="!portalForm.$valid">
      </form>
    </div>
  </body>
</html>

