<html ng-app="ingress" ng-csp>
<head>
<script src="/angular.min.js"></script>
<script src="/app.js"></script>
<script src="/ingress.js"></script>
<link href="/ingress.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Watched portals</h1>
<div ng-controller="PortalsCtrl">
  <ul>
    <span ng-show="portals == null">Loading...</span>
    <li class="portal" ng-repeat="portal in portals | orderBy:'title'">
      <a class="unwatch" ng-click="unwatch(portal);" title="Unwatch">
        <!--<img class="trash" src="https://ssl.gstatic.com/docs/doclist/images/trash_button_icon_3.png">-->
        x
      </a>
      <a href="http://www.ingress.com/intel?latE6={{ portal.latE6 }}&lngE6={{ portal.lngE6 }}&z=16" target="_blank">
        <span class="title">{{ portal.title }}</span>
      </a>
      <br>
      <span class="address">{{ portal.address }}</span>
      
    </li>
  </ul>
</div>
</body>
</html>
